<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="static/style.css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  
  <header>
	<div class="header">
		<h1>Home</h1>
	</div>
  </header>
  
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2022 by <a href="http://domain.invalid/">The Best Team in SYSC 3010</a>.
      {% endblock %}
    </div>
  </body>
</html>
