{% extends "baseLayout.html" %}
{% block title %}Save the bees!{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <div class="data-box">
        <div class="header">
            <div>
                <h4>Temperature</h4>
                    <p>inside hive</p>
                    <var>{{ tempInside }}<span>℃</span></var>
                    <a href="/"><i class="fas fa-bars"></i></a>
            </div>
            <div>
                <h4>Humidity</h4>
                <p>inside hive</p>
                <var>{{ humidityInside }}<span>%</span></var>
                <a href="/"><i class="fas fa-bars"></i></a>
            </div>
        </div>
        <div class="footer">
            <div class="header">
                <h2>TEMPRATURE/HUMIDITY CARVE</h2>
                <select>
                    <option>Monthly</option>
                    <option>Years</option>
                    <option>Day</option>
                </select>
                <time>From Nov 2021 to Apr 2022</time>
            </div>
            <div class="main">
                <div>
                    <div></div><span>Temperature</span>
                </div>
                <div>
                    <div></div><span>Humidity</span>
                </div>
            </div>
            <div class="footer">
                <img src="/static/xy.png">
                <canvas></canvas>
            </div>

        </div>

    </div>

{% endblock %}

{% block footer %}{% endblock %}
