{% extends "baseLayout.html" %}
{% block title %}Save the bees!{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="index-main-left">
        <h1>Honey, </h1>
        <h1>I'm a Smart Home!</h1>
        <h3>Project by {{ names }}</h3>
        <button type="button" onclick="location.href='{{ url_for( 'more' ) }}'">LEARN MORE</button>
        <img src="static/beehive.png" alt="Beehive">
    </div>
    <div class="index-main-right">
        <div>
            <img src="static/bee.png" alt="Bee">
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="left" onclick="location.href='{{ url_for( 'data' ) }}'">
    <i class="fas fa-chart-bar"></i>
        <h3>Real Time Data</h3>
        <p>the internal temperature and</br> humidity of beehives</p>
    </div>
    <div class="middle" onclick="location.href='{{ url_for( 'tools' ) }}'">
        <i class="fas fa-server"></i>
        <h3>Switch</h3>
        <p>Control system</br>(Administrator accessed only)</p>
    </div>
    <div class="right" onclick="location.href='{{ url_for( 'video' ) }}'">
        <i class="fas fa-play-circle"></i>
        <h3>Monitor</h3>
        <p>Real time camera</p>
    </div>
{% endblock %}
