{% extends "baseLayout.html" %}
{% block title %}Save the bees!{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="tool-box">
    <div class="left">
        <div class="onoff">
            <i class="fas fa-fire"></i>
            <div>
                <h3>Heater</h3>
                <p>Use this space to describe this benefit</p>
            </div>
            <i href=# id=heater class="out" onclick="change_status(this,'heat_prompt')"><div class="inside"></div></i>

        </div>
        <div class="onoff">
            <i class="fas fa-fan"></i>
            <div>
                <h3>Fan</h3>
                <p>Use this space to describe this benefit</p>
            </div>
            <i class="out" onclick="change_status(this,'Fan_prompt'), {{ updateFirebase('heater', 'on') }}"><div class="inside"></div></i>
        </div>
        <div class="onoff">
            <i class="fas fa-door-closed"></i>
            <div>
                <h3>Vent</h3>
                <p>Use this space to describe this benefit</p>
            </div>
            <i class="out" onclick="change_status(this,'Ventilation_prompt')"><div class="inside"></div></i>
        </div>
        <div class="onoff">
            <i class="fas fa-fingerprint"></i>
            <div>
                <h3>Manual</h3>
                <p>Use this space to describe this benefit</p>
            </div>
            <i class="out" onclick="change_status(this,'Controlling_prompt')"><div class="inside"></div></i>
        </div>

    </div>
    <div class="right">
        <i class="fas fa-user"></i>
        <div>
            <h3>BEE HIVE STATUS</h3>
            <p>Heat Systems: <span id="heat_prompt">On</span></p>
            <p>Fan Systems: <span id="Fan_prompt">On</span></p>
            <p>Ventilation Systems: <span id="Ventilation_prompt">On</span></p>
            <p>Controlling Systems: <span id="Controlling_prompt">On</span></p>
            <p>Video Systems: <span id="Video_prompt">On</span></p>
        </div>
        <a class="tovideo" href='{{ url_for( 'video' ) }}'>GO TO VIDEO</a>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#heater').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/updateFirebase',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

{% endblock %}
{% block footer %}{% endblock %}


