{% extends "baseLayout.html" %}
{% block title %}Save the bees!{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<style>
    /* Styling for toggle switches */

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 160px;
      right: -160px;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #FDAA39;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
</style>
<div class="tool-box">
    <div class="left">
		<div class="onoff">
            <i class="fas fa-fingerprint"></i>
            <div>
                <h3>Manual</h3>
                <p>Turn on to manually control hive</p>
            </div>
            <i href=# id=manual class="out"><div class="inside" id=manualButton></div></i>
        </div>
        <div class="onoff">
            <i class="fas fa-fire"></i>
            <div>
                <h3>Heater</h3>
                <p>Turn on/off the heater</p>
            </div>
            <i href=# id=heater class="out"><div class="inside" id=heaterButton></div></i>

        </div>
        <div class="onoff">
            <i class="fas fa-door-closed"></i>
            <div>
                <h3>Vent</h3>
                <p>Open/close the flapper</p>
            </div>
            <i href=# id=flapper class="out"><div class="inside" id=flapperButton></div></i>
        </div>
        <!-- Toggles are being left in comments in case they can be used in the future-->
        <!-- <div class="onoff">
            <i class="fas fa-fan"></i>
            <div>
                <h3>Fan</h3>
                <p>Placeholder for future work</p>
                <p>Currently unlinked</p>
            </div>
            <i href=# id=fan class="out"><div class="inside" id="fanButton"></div></i>
        </div> -->
    </div>
    <div class="right">
        <i class="fas fa-user"></i>
        <div>
            <h3>BEE HIVE STATUS</h3>
            <p>Manual Control: <span id="manualStatus">On</span></p>
            <p>Heat Systems: <span id="heaterStatus">On</span></p>
            <p>Ventilation Systems: <span id="flapperStatus">On</span></p>
            <!--<p>Fan Systems: <span id="fanStatus">On</span></p> -->
            <p>Video Systems: <span id="videoStatus">On</span></p>
        </div>
        <a class="tovideo" href="{{ url_for( 'video' ) }}">GO TO VIDEO</a>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
	const manualStatus = document.getElementById('manualStatus');
	const manualButton = document.getElementById('manualButton');
    const heaterStatus = document.getElementById('heaterStatus');
    const heaterButton = document.getElementById('heaterButton');
    const flapperStatus = document.getElementById('flapperStatus');
    const flapperButton = document.getElementById('flapperButton');
    window.addEventListener('load', (event) => {
        if ({{ manualStatus }} == 0)
        {
            manualStatus.innerHTML = "Off";
            manualButton.style.left = "5px";
        } else {
            heaterButton.style.left = "25px";
            heaterStatus.innerHTML = "On";
        } 
        
        if ({{ heaterStatus }} == 0)
        {
            heaterStatus.innerHTML = "Off";
            heaterButton.style.left = "5px";
        } else {
            heaterButton.style.left = "25px";
            heaterStatus.innerHTML = "On";
        }  

        if ({{ flapperStatus }} == 0)
        {
            flapperStatus.innerHTML = "Off";
            flapperButton.style.left = "5px";
        } else {
            flapperButton.style.left = "25px";
            flapperStatus.innerHTML = "On";
        }  
    }); 

	manual.addEventListener('click', (event) => {
		if (manualStatus.innerHTML == "Off")
        {
            manualStatus.innerHTML = "On";
            manualButton.style.left = "25px";

        } else {
            manualStatus.innerHTML = "Off";
            manualButton.style.left = "5px";
        }
	});
    heater.addEventListener('click', (event) =>{
		if (manualStatus.innerHTML == "On")
		{
			if (heaterStatus.innerHTML == "Off")
			{
				heaterStatus.innerHTML = "On";
				heaterButton.style.left = "25px";

			} else {
				heaterStatus.innerHTML = "Off";
				heaterButton.style.left = "5px";
			}
		}
    });

    flapper.addEventListener('click', (event) =>{
		if (manualStatus.innerHTML == "On")
		{
			if (flapperStatus.innerHTML == "Off")
			{
				flapperStatus.innerHTML = "On";
				flapperButton.style.left = "25px";

			} else {
				flapperStatus.innerHTML = "Off";
				flapperButton.style.left = "5px";
			}
		}
    });

	$(function() {
      $('i#manual').on('click', function() {
        $.getJSON('/updateManual',
            function(data) {
                // do nothing
        });
        return false;
      });
    });
    
    $(function() {
      $('i#heater').on('click', function() {
        $.getJSON('/updateHeater',
            function(data) {
                // do nothing
        });
        return false;
      });
    });

    $(function() {
      $('i#flapper').on('click', function() {
        $.getJSON('/updateFlapper',
            function(data) {
                // do nothing
        });
        return false;
      });
    });

</script>

{% endblock %}
{% block footer %}{% endblock %}


