{% extends "baseLayout.html" %}
{% block title %}Save the bees!{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<style>
	/* Styling for toggle switches */
	
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 34px;
	}

	.switch input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}

	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 160px;
	  right: -160px;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #FDAA39;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}
</style>
<div class="tool-box">
    <div class="left">
        <div class="onoff">
            <i class="fas fa-fire"></i>
            <div>
                <h3>Heater</h3>
                <p>Turn on/off the heater</p>
            </div>
     		<a class="out" href=# id=heater onclick="change_status(this,'heat_prompt')"></a>       
<!--             <label class="switch">
            	<form action="/updateHeater" method="POST">
					<input type="checkbox" href=# id=heater onclick="change_status(this,'heater_prompt')">
					<span class="slider round"></span>
				</form>
            </label>
        	</form> -->
            <!-- <i href=# id=heater class="out" onclick="change_status(this,'heat_prompt'), updateFirebase({{'heaterStatus'}})"><div class="inside"></div></i> -->

        </div>
        <div class="onoff">
            <i class="fas fa-door-closed"></i>
            <div>
                <h3>Vent</h3>
                <p>Open/close the flapper</p>
            </div>
            <label class="switch">
				<input type="checkbox" onclick="change_status(this,'ventilation_prompt')" href=# id=flapper>
				<span class="slider round"></span>
            </label>
            <!-- <i class="out" onclick="change_status(this,'Ventilation_prompt'), updateFirebase({{'flapperStatus'}})"><div class="inside"></div></i> -->
        </div>
        <div class="onoff">
            <i class="fas fa-fan"></i>
            <div>
                <h3>Fan</h3>
                <p>Placeholder for future work</p>
                <p>Currently unlinked</p>
            </div>
            <label class="switch">
				<input type="checkbox" onclick="change_status(this,'fan_prompt')" href=# id=fan>
				<span class="slider round"></span>
            </label>
            <!-- <i class="out" onclick="change_status(this,'Fan_prompt'), updateFirebase({{'fanStatus'}})"><div class="inside"></div></i> -->
        </div>
        <div class="onoff">
            <i class="fas fa-fingerprint"></i>
            <div>
                <h3>Manual</h3>
                <p>Placeholder for future work</p>
                <p>Currently unlinked.</p>
            </div>
            <label class="switch">
				<input type="checkbox" onclick="change_status(this,'controlling_prompt')" href=# id=manual>
				<span class="slider round"></span>
            </label>
            <!-- <i class="out" onclick="change_status(this,'Controlling_prompt'), updateFirebase({{'testLed1'}})"><div class="inside"></div></i> -->
        </div>

    </div>
    <div class="right">
        <i class="fas fa-user"></i>
        <div>
            <h3>BEE HIVE STATUS</h3>
            <p>Heat Systems: <span id="heat_prompt">Off</span></p>
            <p>Ventilation Systems: <span id="ventilation_prompt">Off</span></p>
            <p>Fan Systems: <span id="fan_prompt">Off</span></p>
            <p>Controlling Systems: <span id="controlling_prompt">Off</span></p>
            <p>Video Systems: <span id="video_prompt">On</span></p>
        </div>
        <a class="tovideo" href="{{ url_for( 'video' ) }}">GO TO VIDEO</a>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
	window.addEventListener('load', (event) => {
						
					});
					
	// const heaterToggle = document.getElementById('heater');
	// heaterToggle.addEventListener('click', (event) => {
	// 	change_status(this,'heater_prompt')
	// });
	
    $(function() {
      $('a#heater').on('click', function() {
        $.getJSON('/updateHeater',
            function(data) {
				// do nothing
        });
        return false;
      });
    });
</script>

{% endblock %}
{% block footer %}{% endblock %}


