{% extends "baseLayout.html" %}
{% block title %}Save the bees!{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<form class="box" action="login.html" method="POST">
    <h4>Log in:</h4>
    <input type="text" name="" placeholder="Username">
    <input type="password" name="" placeholder="password">
    <a href="/">Witch roles are you?</a>
    <!-- <input type="submit" name="" value="Login"> -->
    <select name="">
        <option>Administrator/Visitor</option>
        <option>Visitor</option>
    </select>

    <button class="button" type="button" onclick="window.location.href='{{ url_for( 'permission' ) }}';"> LOGIN </button>
</form>  

{% endblock %}

{% block footer %}{% endblock %}