{% extends "baseLayout.html" %}
{% block title %}Save the bees!{% endblock %}

{% block content %}
    <div class="video-box">
        <div class="video-left">
            <i class="fas fa-play-circle"></i>
            <h4>WATCH VIDEO</h4>
            <h2>Beehive Internal Vision</h2>
        </div>
        <div class="video-right">
            <div class="top">
                <i class="fas fa-camera"></i>
                <h5>WATCH VIDEO</h5>
                <h2>Beehive Internal Vision</h2>
            </div>
            <div class="bottom">
                <div class="date">
                    <h3>Date:</h3>
                    <p>2022/03/08</p>
                </div>
                <div class="time">
                    <h3>Time:</h3>
                    <p>05:33 pm</p>
                </div>
                <div class="house">
                    <img src="/static/beehouse.png">
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block footer %}{% endblock %}
