body,div,header,main,footer,img,ul,li,a,button,h1,input,input::placeholder,textarea,select,option,h12,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

a, button {
    text-decoration: none;
    outline: none;
    transition: all .1s linear;
    cursor: pointer;
}
body {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

/* Style the header with a grey background and some padding */
.header {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: unset;
    top: 0;
    left: 0;
    margin: 0 auto;
    height: 60px;
    width: 80%;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header > a.logo {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    /*width: 300px;*/
    height: 60px;
    font-weight: bold;
}

.header > a.logo > img {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.header > a.logo > span {
    position: relative;
    top: -23px;
    right: 0;
    color: black;
}

.header >.header-right {
    position: absolute;
    display: inline-block;
    padding: 10px;
    top: 0;
    left: 250px;
    height: 40px;
}

/* Style the header links */
.header >.header-right > a {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 100%;
    color: black;
    font-weight:  bold;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    line-height: 40px;
    margin: 0 5px;
}

.login {
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 0;
    width: 130px;
    height: 33px;
    background-color: #323231;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    padding-top: 2px;
}

.login:hover {
    background-color: #595959;
}

.login > a {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

main {
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
}

#content {
    display: block;
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 80%;
}

#content > .index-main-left {
    display: inline-block;
    position: relative;
    width: 40%;
    height: 400px;
    padding: 0 17px;
}

#content > .index-main-left > h1:nth-of-type(1){
    position: relative;
    font-weight: bold;
    margin-top: 80px;
    color: #FDAA39;
}

#content > .index-main-left > h1:nth-of-type(2){
    position: relative;
    font-weight: bold;
    color: #FDAA39;
}

#content > .index-main-left > h3 {
    position: relative;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #e3e3e3;
}

#content > .index-main-left > button {
    position: relative;
    display: block;
    margin-top: 40px;
    width: 160px;
    height: 36px;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 2px;
}

#content > .index-main-left > img {
    position: absolute;
    display: inline-block;
    top: 240px;
    left: 250px;
    width: 120px;
    height: 100px;
}
#content > .index-main-right {
    display: inline-block;
    position: absolute;
    top:0;
    right: 0;
    width: 50%;
    height: 400px;
    padding: 0 17px;
}

#content > .index-main-right > div {
    position: relative;
    display: block;
    margin: 20px 0 20px auto;
    padding: 0;
    width: 100%;
    height: 360px;
    background-color: #FDAA39;
    border-radius: 50px;
}

#content > .index-main-right > div > img {
    position: relative;
    display: block;
    top: 16px;
    margin: 23px;
    width: 90%;
    height: 90%;
    background-color: #8e8e8e;
    border-radius: 50px;
}

footer {
    position: relative;
    display: block;
    width: 100%;
    height: 250px;
}

#footer {
    position: relative;
    display: block;
    width: 80%;
    height: 250px;
    margin: 10px auto;
}

#footer > div {
    position: relative;
    display: inline-block;
    width: 33%;
    height: 98%;
    top: 0;
    text-align: center;
    cursor: pointer;
}

#footer > div:nth-of-type(1) {
    float: left;
}

#footer > div:nth-of-type(2) {
    left: 5px;
}

#footer > div:nth-of-type(3) {
    float: right;
}

#footer > div > i {
    position: relative;
    display: block;
    width: 1em;
    height: 1em;
    font-size: 43px;
    margin: 0 auto;
    color: #FDAA39;
    top: 40px;
}

#footer > div > h3 {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#footer > div > p {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 150px;
    margin: 0 auto;
}

/* login */
.box {
    position: relative;
    display: block;
    width: 330px;
    height: 500px;
    margin: 50px auto;
    border-radius: 45px;
    background: #ececec;
    text-align: center;
}

.box > h4 {
    position: relative;
    display: block;
    top: 30px;
    color: #404040;
    font-weight: bold;
}

.box > input {
    width: 80%;
    height: 40px;
}

.box > input[type='text'] {
    position: relative;
    display: block;
    border-radius: 4px;
    border: 3px solid #d2d2d2;
    margin: 0 auto;
    margin-top: 80px;
    text-indent: 0.5em;
}

.box > input[type='password'] {
    position: relative;
    display: block;
    border-radius: 4px;
    border: 3px solid #d2d2d2;
    margin: 0 auto;
    margin-top: 35px;
    text-indent: 0.5em;
}

.box > input::placeholder {
    color: #d2d2d2;
}

.box > a:nth-of-type(1) {
    position: relative;
    display: block;
    left: 34px;
    margin-top: 30px;
    text-align: left;
    font-size: 15px;
    color: #383838;
    font-weight: bold;
}

.box > select {
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    border: 3px solid #d2d2d2;
    border-radius: 4px;
    width: 80%;
    height: 45px;
    color: #d2d2d2;
    text-indent: 0.5em;
}

.box > .button {
    position: relative;
    display: block;
    background-color: rgb(63, 68, 80);
    color: white;
    font-weight:  bold;
    text-align: center;
    width: 80%;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 30px;
}

.button:hover {
    background-color: rgb(121, 132, 151);
    cursor:  pointer;
}

.permission-box {
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.permission-box > h1 {
    position: relative;
    margin-top: 150px;
    font-weight: bold;
    font-size: 45px;
}

.permission-box > h2 {
    position: relative;
    margin-top: 30px;
    font-weight: bold;
    font-size: 23px;
    color: #979797;
}

.permission-box > button {
    display: block;
    position: relative;
    width: 320px;
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 34px;
    background: #FDAA39;
    color: white;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 200px;
}

.video-box {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.video-box > .video-left {
    position: relative;
    top: 0;
    left: 0;
    width: 56%;
    height: 100%;
    background: #efefef;
    border-radius: 20px;
    text-align: center;
    transition: background-color .1s linear;
    cursor: pointer;
}

.video-box > .video-left:hover {
    background-color: #eaeaea;
}

.video-box > .video-left > i {
    position: relative;
    display: block;
    width: 1em;
    height: 1em;
    font-size: 63px;
    margin: 0 auto;
    color: #FDAA39;
    top: 130px;
}

.video-box > .video-left > h4 {
    position: relative;
    margin-top: 150px;
    font-weight: bold;
}

.video-box > .video-left > h2 {
    position: relative;
    margin-top: 50px;
    font-weight: bold;
    color: #8e9499;
    font-size: 25px;
}

.video-box > .video-left > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    border-radius: 20px;
}

.video-box > .video-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 38%;
    height: 100%;
}

.video-box > .video-right > .top {
    position: relative;
    width: 100%;
    height: 270px;
    background: #efefef;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.video-box > .video-right > .top > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    border-radius: 20px;
}

.video-box > .video-right > .top:hover {
    background-color: #eaeaea;
    transition: background-color .1s linear;
}

.video-box > .video-right > .top > i {
    position: relative;
    display: block;
    width: 1em;
    height: 1em;
    font-size: 28px;
    margin: 0 auto;
    top: 80px;
}

.video-box > .video-right > .top > h5 {
    position: relative;
    margin-top: 100px;
    font-weight: bold;
}

.video-box > .video-right > .top > h2 {
    position: relative;
    margin-top: 10px;
    font-weight: bold;
    color: #8e9499;
    font-size: 18px;
}

.video-box > .video-right > .bottom {
    position: relative;
    top: 10px;
    left: 0;
    width: 100%;
    height: 200px;
}

.video-box > .video-right > .bottom > .date {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    color: #6a6a6a;
}

.video-box > .video-right > .bottom > .time {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    color: #6a6a6a;
}

.video-box > .video-right > .bottom > div > h3 {
    position: relative;
    font-size: 19px;
    color: #535353;
    margin-top: 30px;
    left: 5px;
    font-weight: bold;
}

.video-box > .video-right > .bottom > div > p {
    position: relative;
    font-size: 17px;
    color: #929292;
    left: 5px;
    font-weight: bold;
}

.video-box > .video-right > .bottom > .house {
    position: absolute;
    right: 10px;
    top: 0;
}

.video-box > .video-right > .bottom > .house > img {
    width: 150px;
    height: 200px;
}

.tool-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.tool-box > .left {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 60px;
    border: 2px solid lightgrey;
    width: 54%;
    height: 600px;
}

.tool-box > .left > .onoff {
    margin: 5px 25px;
    height: 143px;
}

.tool-box > .left > .onoff > i:nth-of-type(1) {
    position: absolute;
    display: inline-block;
    font-size: 30px;
    color: #FDAA39;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #e0e0e0;
    line-height: 80px;
    text-align: center;
    margin-top: 30px;
    margin-left: 15px;
}

.tool-box > .left > .onoff > div {
    position: relative;
    display: inline-block;
    top: 32px;
    left: 130px;
    width: 250px;
}

.tool-box > .left > .onoff > div > h3 {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    font-weight: bold;
    color: #8e9499;
    margin: 0;
}
.tool-box > .left > .onoff > div > p {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    color: #8e9499;
    margin: 0;
}

.tool-box > .left > .onoff > i:nth-of-type(2) {
    position: relative;
    display: inline-block;
    top: 15px;
    right: -160px;
    font-size: 40px;
    background-color: #FDAA39;
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

.tool-box > .left > .onoff > i:nth-of-type(2) > div {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    /*border: 1px solid white;*/
    top: 5px;
    left: 25px;
    transition: left .1s linear;
}

.tool-box > .right {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    height: 540px;
    width: 35%;
    border-radius: 40px;
    border: 3px solid lightgrey;
    text-align: center;
}

.tool-box > .right > i {
    position: absolute;
    display: block;
    top: -40px;
    left: calc(50% - 40px);
    font-size: 40px;
    color: #FDAA39;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: lightgrey;
    line-height: 80px;
    text-align: center;
}

.tool-box > .right > div {
    position: relative;
    margin-top: 70px;
    border-bottom: 4px solid lightgrey;
    padding-bottom: 20px;
}

.tool-box > .right > div > h3 {
    display: block;
    width: 100px;
    margin: 0 auto;
    font-size: 15px;
}

.tool-box > .right > div > p {
    margin-top: 30px;
}

.tool-box > .right > a {
    display: block;
    position: relative;
    top: 35px;
    margin: 0 auto;
    width: 200px;
    background-color: #323231;
    color: white;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 15px;
}

.data-box > .header {
    position: relative;
    display: block;
    border-radius: 50px;
    border: 8px solid orange;
    width: 800px;
    height: 200px;
    margin: 20px auto;
}

.data-box > .header > div {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height:49%;

}

.data-box > .header > div:nth-of-type(1) {
    border-bottom: 1px solid lightgrey;
}

.data-box > .header > div > h4 {
    display: block;
    position: relative;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 25px;
    font-weight: bold;
    color: #383838;
}

.data-box > .header > div > p {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    margin-left: 40px;
    font-size: 15px;
}

.data-box > .header > div > var {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 330px;
    font-size: 35px;
    font-style: normal;
    color: #383838;
}

.data-box > .header > div > var > span {
    margin-left: 5px;
    font-weight: bold;
}

.data-box > .header > div > a {
    position: absolute;
    top: 33px;
    right: 45px;
    color: #FDAA39;
}

.data-box > .header > div > a > i {
    display: block;
    font-size: 35px;
}

.data-box > .footer {
    position: relative;
    top: 0;
    margin: 20px auto;
    width: 95%;
    height: 280px;
    border: 2px solid lightgrey;
    border-radius: 28px;
}

.data-box > .footer > .header {
    position: relative;
    display: block;
    height: 70px;
    top: 0;
    margin: 0 auto;
    width: 95%;
}

.data-box > .footer > .header > h2 {
    display: inline-block;
    position: relative;
    color: #383838;
    margin: 0;
    margin-top: 17px;
    margin-left: 10px;
}

.data-box > .footer > .header > select {
    position: relative;
    display: inline-block;
    top: -3px;
    margin-left: 70px;
    border-radius: 6px;
    border: 3px solid #383838;
    width: 130px;
    height: 40px;
    font-weight: bold;
    color: #595959;
}

.data-box > .footer > .header > time {
    position: relative;
    top: -4px;
    margin-left: 80px;
    color: lightgrey;
    font-size: 15px;
}

.data-box > .footer > .main {
    display: block;
    position: relative;
    top: 0;
    width: 55%;
    height: 30px;
    margin: 0 auto;
}

.data-box > .footer > .main > div {
    display: inline-block;
    width: 140px;
    height: 100%;
}

.data-box > .footer > .main > div:nth-of-type(1) {
    position: relative;
    left: 0;
}

.data-box > .footer > .main > div:nth-of-type(2) {
    position: absolute;
    right: 0;
}

.data-box > .footer > .main > div > div {
    display: inline-block;
    position: relative;
    top: 4px;
    right: 0;
    width: 18px;
    height: 18px;
}

.data-box > .footer > .main > div:nth-of-type(1) > div {
    background: #bb7600;
}

.data-box > .footer > .main > div:nth-of-type(2) > div {
    background: #bb9c00;
}

.data-box > .footer > .main > div > span {
    position: relative;
    top: 0;
    left: 10px;
    color: #595959;
}

.data-box > .footer > .footer {
    position: relative;
    display: block;
    width: 95%;
    height: 160px;
    margin: 0 auto;
}

.data-box > .footer > .footer > img {
    position: relative;
    display: block;
    width: 860px;
    height: 160px;
}

.data-box > .footer > .footer > canvas {
    position: absolute;
    display: block;
    left: 32px;
    bottom: 25px;
    width: 828px;
    height: 130px;
}

/*.out {*/
/*    position: absolute;*/
/*    display: inline-block;*/
/*    top: 15px;*/
/*    right: -100px;*/
/*    font-size: 40px;*/
/*    background-color: #FDAA39;*/
/*    width: 120px;*/
/*    height: 80px;*/
/*    text-align: center;*/
/*}*/
